name: CI
on: [push, pull_request]

jobs:
  test:
    name: Dub Test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, windows-2019]
        # Remember to change the compiler versions further below as well as here
        dc: [dmd-2.098.0, ldc-1.28.0]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Install ninja
        uses: seanmiddleditch/gha-setup-ninja@master
      - name: Install D compiler
        # Remember to change the version further below as well as here
        uses: dlang-community/setup-dlang@v1.1.1
        with:
          compiler: ${{ matrix.dc }}

      # Work around hardcoded `dmd` compiler in integration tests
      - name: "LDC: Symlink dmd to ldmd2"
        if: matrix.dc == 'ldc-beta'
        shell: bash
        run: |
          set -ex
          ldcBinDir=$(dirname $(which ldmd2))
          if [[ '${{ runner.os }}' == 'Windows' ]]; then
            cp $ldcBinDir/ldmd2.exe $ldcBinDir/dmd.exe
          else
            ln -s $ldcBinDir/ldmd2 $ldcBinDir/dmd
          fi

      - name: "Posix: Run tests"
        if: runner.os != 'Windows'
        run: dub -q test -- ~@tup ~@travis_oops

      - name: "Windows: Run tests"
        if: runner.os == 'Windows'
        shell: cmd
        run: |
          set
          :: set up MSVC environment - x64 for LDC, x86 for DMD
          set MSVC_ARCH=x64
          if "%DC%" == "dmd" set MSVC_ARCH=x86
          call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Tools\VsDevCmd.bat" -arch=%MSVC_ARCH% || exit /b
          :: test
          dub -q test -- ~@tup ~@make ~@posix ~@javascript ~@lua ~@python ~@ruby
          if %ERRORLEVEL% NEQ 0 (
            echo.
            echo *** Retrying tests serially ***
            echo.
            dub -q test -- -s ~@tup ~@make ~@posix ~@javascript ~@lua ~@python ~@ruby || exit /b
          )

  bootstrap:
    name: Bootstrap
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macos-10.15, windows-2019]
        dc: [dmd-2.098.0, ldc-1.28.0]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v2
      - name: "Windows: Install ninja"
        if: runner.os == 'Windows'
        uses: seanmiddleditch/gha-setup-ninja@master
      - name: Install D compiler
        uses: dlang-community/setup-dlang@v1.1.1
        with:
          compiler: ${{ matrix.dc }}
      - name: Set OS-specific SCRIPT_CMD environment variable
        run: |
          if [[ '${{ runner.os }}' == 'Windows' ]]; then
            echo "SCRIPT_CMD=./bootstrap.bat" >> $GITHUB_ENV
          else
            echo "SCRIPT_CMD=./bootstrap.sh" >> $GITHUB_ENV
          fi

      - name: Bootstrap with DC=${{ env.DC }}
        run: ${{ env.SCRIPT_CMD }}

      - name: "LDC: Bootstrap with DC=ldmd2"
        if: matrix.dc == 'ldc-beta'
        run: DC=ldmd2 ${{ env.SCRIPT_CMD }}
